{{ form_start(form) }}
<div class="form-group">
	<div>
		{{ form_row(form.school, { 'attr': {'class': 'form-control'} }) }}
	</div>
	{#{ form_row(form.perfilestudiante) }#}
	{{ form_row(form._token) }}
	<input type="submit" class="button cta-1" value="Guardar"/>

</div>
{{ form_end(form, {'render_rest': false}) }}