#mod_s1 {
	margin-bottom: 2em;
	h2 {
		font-weight: bolder;
		@media (max-width: $screen-xs-max) and (orientation: portrait){
			font-size: 1.8em;
		}
	}
	h3 {
		@media (max-width: $screen-xs-max) and (orientation: portrait){
			font-size: 1.5em;
		}
		span {
			font-weight: normal;
		}
	}
}